<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <form-login login-page="/WEB-INF/pages/index.jsp" username-parameter="login" password-parameter="password" default-target-url="/menu"/>
        <intercept-url pattern="/auth" access="permitAll()"/>
        <intercept-url pattern="/puzzles" access="hasRole('admin')"/>
        <intercept-url pattern="/statistic" access="hasRole('user')"/>
        <csrf disabled="true"/>
    </http>
    <beans:bean id = "datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="org.postgresql.Driver"/>
        <beans:property name="url" value="jdbc:postgresql://localhost:5432/puzzles"/>
        <beans:property name="username" value="postgres"/>
        <beans:property name="password" value=""/>
    </beans:bean>

    <beans:bean id="userService" class="db.dao.UserDetailServiceImpl"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService"></authentication-provider>
        <!--<authentication-provider>
            <jdbc-user-service data-source-ref="datasource"
                               users-by-username-query="select u.login, u.password, TRUE FROM tbl_user u where u.login = ?"
                               authorities-by-username-query="SELECT us.login, ro.role_name from tbl_user us
                                                                                                  join tbl_user_role ur on ur.id_user = us.id
                                                                                                  join tbl_role ro on ro.id = ur.id_role
                                                                                                  WHERE us.login = ?"/>

        </authentication-provider>-->
    </authentication-manager>
</beans:beans>
